tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-probability==0.16.0
termcolor==1.1.0
terminado==0.16.0
textract==1.6.5
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
tiktoken==0.3.3
tinycss2==1.1.1
tk==0.1.0
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
torch==1.12.0
torchvision==0.13.0
tornado==6.2
tqdm==4.62.3
traitlets==5.4.0
traits==6.3.2
transformers==4.27.4
trio==0.19.0
trio-websocket==0.9.2
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.2
tzlocal==4.2
unstructured==0.5.12
urllib3==1.26.7
uvicorn==0.21.1
uvloop==0.17.0
validators==0.20.0
virtualenv==20.10.0
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==11.0.1
Werkzeug==2.0.2
widgetsnbextension==4.0.3
wrapt==1.13.3
wsproto==1.0.0
xgboost==1.5.0
xlrd==1.2.0
XlsxWriter==3.1.0
yarl==1.8.2
zipp==3.7.0
zstandard==0.20.0
